/* ------ general
-----------------------------------------------*/

body {
font-family: Helvetica, Arial , sans-serif;
background:#grey;
font-size:12px;
line-height:16px;
}

#container {
margin:20px auto;
width: 100%;

}

a img {
border:none;
}

h1, h2, h3, h4, h5, h6{ margin-bottom:10px; font-weight:normal; }
	h1{ font-size:26px; line-height:32px; font-family: 'DroidSansRegular', Helvetica, Arial , sans-serif; }
	p, ul{margin-bottom:10px;}



#list {
	border: 1px;
	padding-bottom: 10px;
	border-radius: 5px;
}

table, th, td{
	padding: 5px;
	vertical-align: middle;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 17px;
	border: 1px solid black;
}





